@tailwind base;
@tailwind components;
@tailwind utilities;

 button,h1,h2,h3,table,td,th {
  font-family: 'cairo'!important;
 }

main{
  background-image: linear-gradient(45deg, #f48fb1
  , transparent);
}
header{
  background-color: #e91e6312 !important
}
nav{
  /* background-color: #e1bee7!important; */
}
.css-hikx3c-MuiDrawer-docked{
  background-color: lightblue; /* example style */
  /* width: 240px!important; */
}
body {
  overflow: hidden;
}
.MuiDrawer-paper{
  /* width: 240px!important; */

}
.css-lhpdre-MuiStack-root ,.css-lhpdre-MuiStack-root>:not(style)~:not(style),.muirtl-lhpdre-MuiStack-root{
  margin: 0!important;
}
*{
  /* outline: 1px solid lightblue; */
}
/* From Uiverse.io by absoluteSTrange */ 
.card {
 
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }

   .meal-container {
    display: grid;
    gap: 16px; /* Space between grid items */
    padding: 16px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    text-align: center;
  }
  
 .MuiStack-root,.muirtl-lhpdre-MuiStack-root,.muirtl-dznnl1-MuiStack-root,.muirtl-lhpdre-MuiStack-root>:not(style)~:not(style){
    margin: 0!important;
   }

   .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
    gap: 5px;
    
    
   }
  
 
   .orders-cart{
    display: grid;
    gap: 5px;
    grid-template-columns: minmax(285px,1fr) 80px;
   }

   .layout div {
    max-width: 100%;
    /* overflow: hidden; */
   }

 .muirtl-112x4te-MuiContainer-root{
  max-width: unset!important;
 }
 .menu {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap: 10px;
 }


 .meal-category {
  font-size: 24px;
    border-radius: 5px;
    box-shadow: 4px 5px 9px lightcoral;
    background-color: orange;
    font-weight: 600;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
 }

 .mealDiv{
  padding: 5px;
  margin-bottom: 5px;
 }
 .mealDiv h5{
  /* background-color: #ff7961; */
  border-radius: 5px;
  box-shadow: 3px 2px 4px #ff7961;
 }
 .category-grid{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(285px,1fr));
 }

 @media (min-width: 768px ){
  .category-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(508px,1fr));
   }
 }

 .rbc-calendar{
  width: 700px;
 }




