@tailwind base;
@tailwind components;
@tailwind utilities;

 button,h1,h2,h3,table,td,th {
  font-family: 'cairo'!important;
 }

.root-container{
  background-image: linear-gradient(45deg, #f48fb1
  , transparent);
}
header{
  background-color: #e91e63!important;
}
nav{
  /* background-color: #e1bee7!important; */
}
.css-hikx3c-MuiDrawer-docked{
  background-color: lightblue; /* example style */
  /* width: 240px!important; */
}
body {
  overflow: hidden;
}
.MuiDrawer-paper{
  /* width: 240px!important; */

}
.css-lhpdre-MuiStack-root ,.css-lhpdre-MuiStack-root>:not(style)~:not(style),.muirtl-lhpdre-MuiStack-root{
  margin: 0!important;
}
*{
  /* outline: 1px solid lightblue; */
}
/* From Uiverse.io by absoluteSTrange */ 
.card {
 
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }

   .meal-container {
    display: grid;
    gap: 16px; /* Space between grid items */
    padding: 16px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    text-align: center;
  }
  
 .MuiStack-root,.muirtl-lhpdre-MuiStack-root,.muirtl-dznnl1-MuiStack-root,.muirtl-lhpdre-MuiStack-root>:not(style)~:not(style){
    margin: 0!important;
   }

   .layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5px;
    gap: 5px;
    
    
   }
   .orders-cart,.right-section{
    height: 90vh;
    /* linear gradient */
    /* background:linear-gradient() */
   }
 
   .orders-cart{
    display: grid;
    gap: 5px;
    grid-template-columns: minmax(285px,1fr) 1fr;
   }

   .layout div {
    max-width: 100%;
    /* overflow: hidden; */
   }

 